{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
          <h1 class="page-header">Welcome, {{ name }}</h1>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{{url_for('static', filename='happyface.png')}}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Happy Emoji</h4>
              <span class="text-muted">It's Friday</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{{url_for('static', filename='sadface.png')}}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Sad Emoji</h4>
              <span class="text-muted">It's Sunday Evening </span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{{url_for('static', filename='angryface.png')}}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Angry Emoji</h4>
              <span class="text-muted">Having Duty on a 3-Day Weekend</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="{{url_for('static', filename='omgface.png')}}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Shocked Emoji</h4>
              <span class="text-muted">Snow Day For 2 Inches of Snow</span>
            </div>
          </div>
          
          <h2 class="sub-header">Progress Tracker</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Task Priority</th>
                  <th>Task</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Make profiles</td>
                  <td>Users should have the ability to add information about themselves in profile</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>View other active users </td>
                  <td>Users should be able to see other users who exist on the server</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
{% endblock content %}